/* FONT STACK */
body {
	height: auto;
}

body,input,select,textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 0.8em:
}

#page-body {
	width: 100%;
	height: 100%;
	padding: 0;
}
/* BASE LAYOUT */
html {
	background-color: #ddd;
	background-image: -moz-linear-gradient(center top, #aaa, #ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa),
		color-stop(1, #ddd) );
	background-image: linear-gradient(top, #aaa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=   '#aaaaaa',
		EndColorStr=   '#dddddd' );
	background-repeat: no-repeat;
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	margin: 0 auto;
	max-width: 90%;
	overflow-x: hidden;
	/* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	-moz-box-shadow: 0 0 0.3em #255b17;
	-webkit-box-shadow: 0 0 0.3em #255b17;
	box-shadow: 0 0 0.3em #255b17;
	height: 100%;
}

#grailsLogo {
	background-color: #6dcff6;
}

#footerCygnusLogo {
	background-color: transparent;
	direction: rtl;
}

#content-wrapper {
	background: #ffffff;
	color: #333333;
	height: auto !important;
	height: 90%;
	margin: 0 auto -35px; /* must be the height of your footer */
	min-height: 88%;
}

#footer,#footer-push {
	height: 35px;
}

#footer {
	background: #0081ff;
	color: #000;
	font-size: 0.8em;
	padding: 0.1em;
}
/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,.ie7 body,.ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

a:link,a:visited {
	color: #2c2e80;
}

a:hover {
	color: #070962;
}

a:hover,a:active {
	outline: none;
	/* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color: #2c2e80;
	font-weight: normal;
	font-size: 1.0em;
	margin: 0.8em 0 0.3em 0;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* GENERAL */
#grailsLogo a {
	display: inline-block;
	margin: 1em;
}

.content {
	
}

.content h1 {
	border-bottom: 1px solid #CCCCCC;
	margin: 0.8em 1em 0.3em;
	padding: 0 0.25em;
}

.scaffold-list h1 {
	border: none;
}

.footer {
	background: #0081ff;
	color: #000;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
}

.footer a {
	color: #255b17;
}


.ui-widget-overlay {
	background: grey;
	filter: alpha(opacity =   50);
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many,.ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* MESSAGES AND ERRORS */
.errors,.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.5em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	-moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	box-shadow: 0 0 0.25em #b2d1ff;
}

.message {
	background: transparent url(../images/skin/information.png) 0 50%
		no-repeat;
	text-indent: 22px;
}

#openError{
	background-image: url(../images/skin/sorted_desc.gif);
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
	background-color: #efefef;
	-moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	box-shadow: 0 0 3px 1px #aaaaaa;
	zoom: 1;
	font-size: 0.9em;
	width:125px;
	margin: 0.8em 0 0.3em 0;
	
}

#ajaxRequestError{
	padding:0.5em;
	
}